
a {
    text-decoration: none;
}

.closeBtn {
    position: absolute;
    top: 13px;
    right: 13px;
    border: none;
    background-color: #FFFFFF
}

.regForm {
    position: relative;
    width: 500px;
    height: 656px;
    margin: 80px auto;
    border: 0.5px solid gray;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

.authSwitch {
    text-align: center;
    margin-top: 52px;
    margin-bottom: 40px;
}

.regButton {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #46A358;
}

.logButton {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #3D3D3D;
}

.divider {
    font-family: "Cera Pro", sans-serif;
    font-weight: 250;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.enterTxt {
    font-family: "Cera Pro", sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
    text-align: center;
    margin-bottom: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.input {
    width: 300px;
    height: 40px;
    padding-left: 14px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
}

input::placeholder {
    width: 100%;
    height: 16px;
    font-size: 14px;
}

.registerBut {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    background-color: #46A358;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 36px;
    border: none;
}

.regWith {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 27px;
}

.line {
    width: 97px;
    border: 1px solid #EAEAEA;
}

.difReg {
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    margin: 0;

}

.socialBut {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sBtn {
    width: 300px;
    height: 40px;
    font-family: "Cera Pro", sans-serif;
    color: #727272;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
}

/* main banner */

header .container,
.mainBanner .container {
    font-size: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo,
nav,
.loginBtn {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.logo {
    width: 20%;
}

.logo img {
    vertical-align: middle;
}

.loginBtn {
    width: 20%;
    text-align: right;
}

nav {
    width: 60%;
    text-align: center;
    margin-top: 8px;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    position: relative;
    display: inline-block;
}

nav a.active::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #46A358;
}

.header {
    margin-top: 30px;
    margin-bottom: 12px;
}

.header .container {
    border-bottom: 0.3px solid #46A35880;
    padding-bottom: 17.7px;
}

.mainBanner {
    margin: 0 auto;
}

.mainBanner .container {
    height: 450px;
    background-color: #F5F5F580;
}

.bannerTxt,
.bannerImg {
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.bannerImg img {
    width: 507px;
    height: 450px;
}

.bannerImg {
    text-align: right;
}

.bannerTxt {
    vertical-align: top;
    padding-top: 68px;
    padding-left: 43px;
}

.subtitleTxt {
    font-size: 14px;
    text-transform: uppercase;
    color: #3D3D3D;
}

.bannerTxt h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
}

.greenTxt {
    color: #46A358;
}

.bannerTxt p {
    font-size: 14px;
    color: #727272;
}

.shopnowBtn {
    display: inline-block;
    margin-top: 44px;
}


